@media screen and (min-width: 769px) {
  .resume {
    margin: 5% 1%;
    width: 65vw;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .resume {
    margin: 20% 0 0 0;
    width: 100vw;
    border: none;
  }
}
