@media screen and (min-width: 769px) {
  .about-container {
    font-family: 'Roboto Slab', serif;
    height: 80vh;
    display: flex;
    margin: 4% 1%;
    line-height: 1.7rem;
    font-size: 1.2rem;
    text-align: left;
    flex-flow: column wrap;
    align-content: space-evenly;
    .pic-and-hello {
      max-width: 40%;
      max-height: 100%;
      .intro-title {
        text-align: center;
      }
      .intro-body-text {
        margin: 1rem 2rem;
      }
      .about-image {
        max-height: 80%;
        margin: 1rem;
        border-radius: 16px;
      }
    }
    .about-description {
      max-width: 60%;
      max-height: 100%;
      #text {
        margin: 1.5rem 2rem;
      }
      .link-container {
        display: flex;
        justify-content: flex-end;
        .link {
          color: black;
          text-decoration-line: underline;
          margin-left: 1rem;
        }
        .link:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    font-family: 'Roboto Slab', serif;
    height: 80vh;
    margin: 20% 1%;
    font-size: 1.1em;
    text-align: left;
    .pic-and-hello {
      margin: 5.4% 1rem;
      .about-image {
        margin: 8% 10% 0;
        max-width: 80%;
        border-radius: 16px;
      }
    }
    .about-description {
      #text {
        margin: 5.4% 1rem;
      }
      .link-container {
        display: flex;
        justify-content: center;
        .link {
          color: black;
          text-decoration-line: underline;
          margin-left: 1rem;
        }
        .link:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
