.about-container {
  font-family: 'Roboto Slab', serif;
  height: 83vh;
  margin: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .intro-body {
    .pic-and-hello {
      display: flex;
      .intro-body-text {
        margin: auto 2%;
      }
      .about-image {
        margin: 1%;
        max-width: 25%;
        border-radius: 16px;
      }
    }
    a {
      text-decoration: none;
    }
    a:visited {
      color: black;
    }
    a:hover {
      opacity: 50%;
    }
  }
  p {
    font-size: 1.2em;
    margin: 4% 10%;
  }
}
