@media screen and (min-width: 1300px) {
  .contact-container {
    height: 80vh;
    font-family: 'Roboto Slab', serif;
    margin: 5% 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
    }
    form {
      width: 80%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      input {
        border-radius: 5px;
        text-indent: 3%;
        margin: 3% 4%;
        height: 40%;
      }
      textarea {
        border-radius: 5px;
        margin-left: 5%;
        margin-top: 2%;
        text-indent: 1%;
        resize: none;
      }
      button {
        background-color: white;
        margin-top: 3%;
        font-size: medium;
        align-self: center;
        text-align: center;
        border: 1px solid #858585;
        border-radius: 8px;
        width: 8%;
        height: 8%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact-container {
    display: none;
  }
}
