.header {
  display: flex;
  position: static;
  justify-content: flex-end;
  margin: 1em;
}
.nav-btn {
  background-color: #fff;
  width: 3%;
  margin: 0 0.5%;
  border: none;
  border-radius: 100%;
}
.nav-btn:hover {
  opacity: 50%;
}
