.footer {
  border-top: 1px solid black;
  margin-top: 2em;
  flex: 1;
  margin-top: auto;
  height: 2em;
  font-family: 'Roboto Slab', serif;
  font-size: 0.7em;
  text-align: center;
  a {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
  }
  a:hover {
    opacity: 0.5;
  }
}
