.footer {
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  display: flex;
  margin-top: 1em;
  margin-left: 1%;
  .spacer {
    margin-left: 30%;
  }
  #r {
    margin-right: 0;
    text-align: right;
  }
}
